@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero{
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
}

.container{
    position: absolute;
    min-width: 100%;
    height: 100vh;
    overflow: hidden;
}

.container #scene .layer{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 100vh;
}

.container #scene .layer img{
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100vw;
    height: 100%;
    object-fit: cover;
}

.moon{
    padding: 6rem;
    margin-top: -1rem;
    object-fit: contain !important;
    transform: rotateZ(150deg);
    filter: brightness(50%);
}

.heroheading{
    font-family: 'Aclonica', sans-serif;
    width: 100%;
    height: 100vh;
    padding: 22.5vh 32vw;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
}

.heroheading p{
    font-family: cursive;
    font-size: 20px;
    text-align: center;
    background: black;
    box-shadow: 5px 5px 10px rgb(0,0,0);
    border-bottom-right-radius: 15px;
    border-top-left-radius: 15px;
    padding: 1rem 0.5rem;
}

.heroheading p span{
    animation: daynight 3s infinite 0s linear;
}

@keyframes daynight {
    0%{
        filter: hue-rotate(90deg);
    }
    25%{
        filter: hue-rotate(180deg);
    }
    50%{
        filter: hue-rotate(270deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
}

.heroheading h1{
    position: relative;
    font-size: 100px;
    text-align: center;
}

.greetings-section{
    position: relative;
    margin-top: auto;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
}

.neonbg{
    position: relative;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    animation: neon 10s infinite 0s ease-in-out;
}

.overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    backdrop-filter: blur(8px);
}

.greetings-section h1{
    position: absolute;
    top: 1rem;
    left: 35%;
    text-align: center;
    font-size: 4rem;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.box{
    position: absolute;
    top: 20%;
    width: 100%;
    height: 80vh;
    padding: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.box img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 1rem;
}

.box p{
    font-family: 'Roboto', sans-serif;
    font-size: 1.25rem;
    background: rgba(0, 0, 0, 0.75);
    padding: 1rem 0.75rem;
    border-radius: 15px;
    color: #fff;
}

@keyframes neon {
    0%{
        filter: hue-rotate(0deg);
    }
    20%{
        filter: hue-rotate(90deg);
    }
    40%{
        filter: hue-rotate(120deg);
    }
    60%{
        filter: hue-rotate(180deg);
    }
    80%{
        filter: hue-rotate(270deg);
    }
    100%{
        filter: hue-rotate(350deg);
    }
}


.memories{
    margin-top: auto;
    width: 100%;
    height: auto;
    background: radial-gradient(rgb(69, 103, 255), rgb(35, 35, 255), rgb(0, 23, 128));
    color: #fff;
}

.memories h1{
    padding-top: 2rem;
    font-family: 'Popins', sans-serif;
    font-size: 4rem;
    text-align: center;
}

.grid{
    display: flex;
}

.grid .grid-col{
    flex: 1;
    padding: 0.5rem;
}

.grid-item img{
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 15px;
    transition: all 0.5s ease-in-out;
}

.grid-item img:hover{
    transform: scale(1.1);
    z-index: 5;
    box-shadow: 5px 5px 10px rgb(255, 255, 255, 0.5);
    cursor: pointer;
}

@media (max-width: 765px) {
    .moon{
        padding: 10rem;
        margin-left: -7rem;
        margin-top: -3rem;
    }

    .heroheading{
        padding: 30vh 5vw;
    }

    .mainhead{
        width: 95vw;
        padding: 0 auto !important;
    }

    .heroheading h1{
        font-size: 3.75rem;
        margin-left: 0;
    }

    .neonbg, .overlay{
        height: 325vh;
    }
    
    .box{
        top: 10%;
        flex-direction: column;
    }

    .greetings-section h1{
        left: 0%;
    }

    .grid-col--2, .grid-col--3{
        display: none;
    }
}