@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    background: rgb(10, 0, 56);
}

.logo{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-transform: uppercase;
    color: whitesmoke;
    cursor: pointer;
}

li, a, button{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    color: aliceblue;
}

header{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 20px;
}

.nav_links{
    list-style: none;
}

.nav_links li{
    display: inline-block;
    padding: 0 20px;
}

.nav_links li a{
    transition: all 0.3s ease 0s;
}

.nav_links li a:hover{
    color: rgb(173, 215, 252);
}

button{
    padding: 9px 25px;
    background: rgb(18, 18, 218, 1);
    border-radius: 50px;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}

button:hover{
    background: rgba(18, 18, 218, 0.8);
}

.form-container{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.formbg{
    width: 100%;
    height: 60vh;
    background: url('background.png') bottom / cover no-repeat;
    z-index: 0;
}

.form-area{
    width: 60vw;
    height: auto;
    margin: 5rem auto;
    padding: 20px 25px;
    background: rgb(150, 150, 255);
    color: white;
    border-radius: 15px;
    z-index: 1;
}

form{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}

::placeholder {
    color: rgb(247, 194, 194);
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: rgb(247, 194, 194);
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
   color: rgb(247, 194, 194);
  }

.form-heading{
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.name-area{
    width: 90%;
    margin-top: 4rem;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

#name, #email{
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: none;
    border: none;
    border-bottom: 2px solid #fff;
    padding: 0 4px;
    color: #fff;
}

#email{
    width: 72.5%;
    margin-bottom: 1rem;
}


.formLabel{
    margin-top: 1rem;
    margin-left: 4.25rem;
    font-weight: normal;
    font-size: 16px;
}


.deptselection select{
    margin-top: 2rem;
    margin-bottom: 2rem;
    display: inline-block;
    margin-left: 2rem;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    width: 200px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.year{
    width: 100%;
    height: auto;
}

#submit{
    position: absolute;
    bottom: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    width: 100px;
    height: 40px;
    margin: 20px 42.5%;
    cursor: pointer;
    border: none;
    background: rgba(18, 18, 218, 0.6);
    color: #fff;
    border-radius: 50px;
    transition: all 0.3s ease 0s;
}

#submit:hover{
    background: rgb(18, 18, 218, 1);
}

.event-section{
    height: 100vh;
    margin-top: 70vh;
    padding-top: 2rem;
    font-family: 'Poppins', sans-serif;
    color: #fff;
}

.event-section h1{
    font-size: 3rem;
    text-align: center;
    margin-top: 2rem;
}

#about{
    width: 70vw;
    height: auto;
    padding: 1rem 2rem;
    margin: 1rem auto;
}

.event-section p{
    max-width: 60vw;
    margin: 1rem auto 10rem;
    text-align: center;
}

#guests{
    width: 90%;
    margin: 3rem auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

#guests img{
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid rgba(255, 255, 255, 0.623);
    cursor: pointer;
    transition: all 1s ease 0s;
}

.img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.img-div p{
    color: rgba(255, 255, 255, 0.8);
}

#guests img:hover{
    transform: translateY(-5px);
}

@media (max-width: 962px) {
    .form-area{
        position: absolute;
        left: 20%;
        align-self: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}


@media (max-width: 780px) {

    header{
        width: 100%;
    }

    .logo{
        font-size: 14px;
    }

    li, a, button{
        font-size: 12px;
    }

    button{
        padding: 5px 10px;
    }

    .nav_links li{
        padding: 0 5px;
    }
    
    .form-area{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #name{
        width: 40%;
    }

    #email{
        margin-bottom: 3rem;
    }

    .deptselection{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .deptselection select{
        margin-left: 1rem;
    }

    .formLabel{
        margin-left: 1rem;
    }

    .year{
        margin-bottom: 2rem;
    }

    #submit{
        margin-left: 25%;
    }
    
}

.branding{
    width: 100%;
    margin-top: 100vh;
    height: auto;
    font-family: 'Poppins', sans-serif;
    padding-right: 10px;
    color: #fff;
}

.branding p{
    text-align: right;
}